:root {
  --font-family: "Roboto", sans-serif;

  // colors:

  --iris-color: rgba(93, 95, 239, 1);
  --gray-color: hsla(219, 30%, 37%, 10%);
  --blue-color: rgba(66, 86, 122, 1);
  --white-color: rgb(255, 255, 255);
  --shadow-color: rgba(56, 119, 238, 0.1);
  --background-color: rgba(48, 62, 88, 1);
}
