.BtnMenu {
  position: relative;
  display: block;
  text-align: center;
  margin: 0;
  color: #fff;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}